backports.csv==1.0.7
cachetools==2.0.0
cycler==0.10.0
decorator==4.4.0
ftfy==4.2.0
fuzzywuzzy==0.17.0
ijson==2.3
kiwisolver==1.1.0
matplotlib==3.0.3
mwparserfromhell==0.4.4
networkx==1.11
numpy==1.16.3
pyparsing==2.4.0
Pyphen==0.9.4
python-dateutil==2.8.0
requests==2.31.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
srsly==0.0.5
textacy==0.6.3
tqdm==4.31.1
Unidecode==1.0.23
